.pull-up {
  transition: all 0.25s ease;
}
.card {
  margin-bottom: 1.875rem;
  border: none;
  box-shadow: 0px 1px 15px 1px rgb(62 57 107 / 7%);
}
.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}
.text-left {
  text-align: left !important;
}
.media-body {
  flex: 1;
}